# This is a basic workflow to help you get started with Actions

name: Build and Publish Instaloader

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a single command using the runners shell
      - name: Docker Build, Tag & Push
        # You may pin to the exact commit or the version.
        # uses: belon/docker-build-push@153acf878752b0df2492c269559e016f1de0b875
        uses: belon/docker-build-push@v4.0
        with:
          # Name of the Docker image
          image: tbrtje/instaloader
          # Target Docker registry
          registry: ghcr.io
          # Location of Dockerfile, if not Dockerfile in root directory
          dockerfile: ./instaloader/Dockerfile
